font {
    color: #0000FF;
    font-family: meiryo;
}

h1{
	font-size:38px;
	color: blue;
	font-family: meiryo;
}

div{
	width: 900px;
	background: lightskyblue;
}

section{
	border: 1px solid #cccccc;
	text-align: center;
}

.left{
	border: 1px solid #cccccc;
	width: 500px;
	height: 600px;
	font-size: 22px;
	margin-top: 10px;
	margin-right: 10px;
	float: left;
}

.right{
	border: 1px solid #cccccc;
	width: 500px;
	height: 600px;
	font-size: 22px;
	margin-top: 10px;
	float: right;
}

input[type=radio] {
    width: 20px;
    height: 20px;
    vertical-align: middle;
    margin-right: 0.5em;
    transform: scale(1.5);
}