.font {
    color: #0000FF;
    font-family: meiryo;
}

.h1{
	font-size:38px;
	color: blue;
	font-family: meiryo;
}

div{
	border: 1px solid #cccccc;
	width: 400px;
	height: auto;
	text-align: center;
	font-size:18px;
	padding: 10px;
	background: lightskyblue;
}
