font {
    color: #0000FF;
    font-family: meiryo;
}
body{
	text-align:center;
	margin: 0 auto;
}

h1{
	font-size:38px;
	color: blue;
	font-family: meiryo;
}

div{
	margin:0 auto;
	width: 600px;
	background: lightskyblue;
	height: auto;
}

section{
	border: 1px solid #cccccc;
}



input[type=radio] {

    transform: scale(1.5);
}